@model mvc.Models.HomeworkStudent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HomeworkStudent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeworkStudentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeworkStudentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HomeworkFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HomeworkFile)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Homework)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Homework.TeacherId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HomeworkStudentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
