@model IEnumerable<mvc.Models.HomeworkV2studentExerciceAlones>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HomeworkStudentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeworkFile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeworkFileTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeworkCommentaryTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exercice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkStudentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkFile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkFileTeacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkCommentaryTeacher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exercice.TeacherId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HomeworkV2studentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HomeworkV2studentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HomeworkV2studentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
