@model IEnumerable<mvc.Models.HomeworkV2s>

@{
    ViewData["Title"] = "Ressources";
}

<br />
<br />
<br />
<br />
<body data-parallax="true" class="bgImage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <h4 class="card-title">
                                @ViewData["Title"]
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Session.SessionNumberId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.HomeworkV2date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.HomeworkV2name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.HomeworkType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Teacher)
                                        </th>
                                        <th class="disabled-sorting text-right"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @foreach (var homework in Model)
                                    {
                                        @foreach (var item in homework.ExercicesAlones)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => homework.Session.SchoolClassRoom.SchoolClassRoomName)
                                                    Session
                                                    @Html.DisplayFor(modelItem => homework.Session.SessionNumberId)
                                                    @Html.DisplayFor(modelItem => homework.Session.DateStart.Year)
                                                </td>
                                                <td>
                                                    @homework.HomeworkV2date.ToString("yyyy-MM-dd")
                                                </td>
                                                <td>
                                                    <a asp-controller="ExercicesAlones" asp-action="Details" asp-route-id="@item.ExerciceId">@Html.DisplayFor(modelItem => item.ExerciceName)</a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => homework.HomeworkType.HomeworkTypeName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => homework.Teacher.Firstname)
                                                </td>
                                                <td>
                                                    <a asp-controller="ExercicesAlones" asp-action="Details" asp-route-id="@item.ExerciceId">Aperçu</a>
                                                    <a asp-controller="ExercicesAlones" asp-action="Duppliquer" asp-route-id="@item.ExerciceId">Dupliquer</a>
                                                </td>
                                            </tr>
                                        }

                                        @foreach (var theory in homework.Theories)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => homework.Session.SchoolClassRoom.SchoolClassRoomName)
                                                    Session
                                                    @Html.DisplayFor(modelItem => homework.Session.SessionNumberId)
                                                    @Html.DisplayFor(modelItem => homework.Session.DateStart.Year)
                                                </td>
                                                <td>
                                                    @homework.HomeworkV2date.ToString("yyyy-MM-dd")
                                                </td>
                                                <td>
                                                    <a asp-controller="Theories" asp-action="Details" asp-route-id="@theory.TheoryId">@Html.DisplayFor(modelItem => theory.TheoryName)</a>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => homework.HomeworkType.HomeworkTypeName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => homework.Teacher.Firstname)
                                                </td>
                                                <td>
                                                    <a asp-controller="Theories" asp-action="Details" asp-route-id="@theory.TheoryId">Aperçu</a>
                                                    <a asp-controller="Theories" asp-action="Duppliquer" asp-route-id="@theory.TheoryId">Dupliquer</a>
                                                </td>
                                            </tr>
                                            @foreach (var exercice in theory.Exercices)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => homework.Session.SchoolClassRoom.SchoolClassRoomName)
                                                        Session
                                                        @Html.DisplayFor(modelItem => homework.Session.SessionNumberId)
                                                        @Html.DisplayFor(modelItem => homework.Session.DateStart.Year)
                                                    </td>
                                                    <td>
                                                        @homework.HomeworkV2date.ToString("yyyy-MM-dd")
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Exercices" asp-action="Details" asp-route-id="@exercice.ExerciceId">@Html.DisplayFor(modelItem => exercice.ExerciceName)</a>
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => homework.HomeworkType.HomeworkTypeName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => homework.Teacher.Firstname)
                                                    </td>
                                                    <td>
                                                        <a asp-controller="Exercices" asp-action="Details" asp-route-id="@exercice.ExerciceId">Aperçu</a>
                                                        <a asp-controller="Exercices" asp-action="Duppliquer" asp-route-id="@exercice.ExerciceId">Dupliquer</a>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</body>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                scrollCollapse: true,
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                },
                "order": []
            });

            var table = $('#datatable').DataTable();

            // Edit record
            table.on('click', '.edit', function () {
                $tr = $(this).closest('tr');
                var data = table.row($tr).data();
                alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            });

            // Delete a record
            table.on('click', '.remove', function (e) {
                $tr = $(this).closest('tr');
                table.row($tr).remove().draw();
                e.preventDefault();
            });

            //Like record
            table.on('click', '.like', function () {
                alert('You clicked on Like button');
            });
        });</script>
}