@model IEnumerable<mvc.Models.Appointment>

@{
    ViewData["Title"] = "Rendez-vous";
}

<br />
<br />
<br />
<br />
<body data-parallax="true" class="bgImage">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <h4 class="card-title">
                                @ViewData["Title"]
                            </h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <p>
                                <a class="btn btn-success" asp-action="Create">Ajouter</a>
                            </p>
                        </div>
                        <div class="material-datatables">
                            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AppointmentName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DateStart)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DateEnd)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsWeekly)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Teacher)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a asp-action="Details" asp-route-id="@item.AppointmentId">@Html.DisplayFor(modelItem => item.AppointmentName)</a>
                                            </td>
                                            <td>
                                                @item.DateStart.ToString("yyyy-MM-dd HH:mm")
                                            </td>
                                            <td>
                                                @item.DateEnd.ToString("yyyy-MM-dd HH:mm")
                                            </td>
                                            <td>
                                                <div class="form-check mt-0">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="true" disabled asp-for="@item.IsWeekly">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                @item.Teacher.Firstname @item.Teacher.LastName
                                            </td>
                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.AppointmentId">Modifier</a> |
                                                <a class="text-danger" asp-action="Delete" asp-route-id="@item.AppointmentId">Supprimer</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
    </div>
</body>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#datatables').DataTable({
                "pagingType": "full_numbers",
                "lengthMenu": [
                    [10, 25, 50, -1],
                    [10, 25, 50, "All"]
                ],
                responsive: true,
                scrollCollapse: true,
                language: {
                    "url": "//cdn.datatables.net/plug-ins/1.10.20/i18n/French.json"
                },
                "order": []
            });

            var table = $('#datatable').DataTable();

            // Edit record
            table.on('click', '.edit', function () {
                $tr = $(this).closest('tr');
                var data = table.row($tr).data();
                alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
            });

            // Delete a record
            table.on('click', '.remove', function (e) {
                $tr = $(this).closest('tr');
                table.row($tr).remove().draw();
                e.preventDefault();
            });

            //Like record
            table.on('click', '.like', function () {
                alert('You clicked on Like button');
            });
        });</script>
}