@model IEnumerable<mvc.Models.Theory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TheoryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheoryLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeworkV2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Teacher)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TheoryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheoryLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeworkV2.HomeworkV2name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TheoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TheoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TheoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
